:root {
	--backgroundDark: #000000;
	--foregroundLight: #F9F3DF;

	--backgroundLight: #F9F3DF;
	--foregroundDark: #000000;

	--details: #00BEA7;
	--smallDetails: #F0F4F4;

	--font-size: 25px;
	--font-family: 'Oswald', sans-serif;
}